{% extends "app/homepage.html.twig" %}

{% block title %}
	{% if name is not null %}
		{{name}}
	{% else %}
		Chat with
		{{members.0.name}}
	{% endif %}
{% endblock %}

{% block content %}
	<section class="chat" data-id="{{hash}}">
		<div class="side">
			<a href="{{path('homepage')}}">
				Back to homepage
			</a>
			<div class="chat-image">
				{% if image is not null %}
					<label for="chatImage" class="chat-upload-file">
						<img src="{{'/images/chat/' ~ image}}">
					</label>
				{% else %}
					<label for="chatImage" class="chat-upload-file">
						<img src="{{'/images/upload.png'}}">
					</label>
				{% endif %}
				<input type="file" id="chatImage">
			</div>
			<div class="messenger-chat-name">
				{% if name is not null %}
					<p class="chat-name">
						{{name}}
					</p>
					<span id="set">
						Edit
					</span>
				{% else %}
					<p class="edit">
						This chat is not named
						<span id="set">
							Edit
						</span>
					</p>
				{% endif %}
				<div class="chat-name-change"></div>
			</div>
			<div class="messenger-chat-members">
				<b>{{members|length}}</b>
				members
				<p id="add-new-members">
					Add
				</p>
			</div>
		</div>
		<div class="messenger">
			<div class="messages"></div>
			<div class="new-msg">
				<label for="messageFile" class="messageFile-pic">
					&oplus;
				</label>
				<input type="file" id="messageFile" class="messageFile">
				<textarea class="message-box" id="messageContent"></textarea>
				<button class="send-message" id="messageSend">
					Send
				</button>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="/js/chat.js"></script>
{% endblock %}
