{% extends 'base.html.twig' %}

{% block title %}
	Delivered
{% endblock %}

{% block stylesheets %}
	<link href="/styles/app.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<nav>
		<div class="logo">
			<img src="/images/logo.png">
			<p>
				Delivered
			</p>
		</div>
		<div class="user-nav-elem" data-id="{{app.session.get('user').id}}">
			{% if app.session.get('user').userImg is not null %}
				<label for="userImg" class="user-img-set">
					<img src="{{'/images/users/' ~ app.session.get('user').userImg}}">
				</label>
			{% else %}
				<label for="userImg" class="user-img-set">
					<img src="/images/upload.png">
				</label>
			{% endif %}
			<input type="file" id="userImg">
			<p>
				{{app.session.get('user').Name}}
				{{app.session.get('user').Surname}}
			</p>
		</div>

		<a href="{{path('logout')}}">
			Logout
		</a>
	</nav>

	{% block content %}
		<section class="chats">
			<div class="chats-header">
				<p class="chats-header-title">
					Your chats
				</p>
				<a href="{{path('chatCreate')}}">
					Start new chat
				</a>
			</div>

			<div class="chats-content">
				{% for chat in chats %}
					<a href="{{path('chat', {'hash': chat.chatHash})}}">
						<p class="chat-name">
							{% if chat.chatName is null %}
								{% set name = '' %}
								{% if chat.members|length > 2 %}
									{% set temp = 0 %}
									{% if chat.members|length > 4 %}
										{% for user in chat.members|filter(v => v.id != app.session.get('user').id)|slice(0, 2) %}
											{% set name = name ~ user.Name %}
											{% if temp == 0 %}
												{% set name = name ~ ', ' %}
											{% endif %}
											{% if temp == 1 %}
												{% set name = name ~ ' and ' ~ (chat.members|length - 3) ~ ' others' %}
											{% endif %}
											{% set temp = temp + 1 %}
										{% endfor %}
									{% else %}
										{% if chat.members|length == 3 %}
											{% for user in chat.members|filter(v => v.id != app.session.get('user').id) %}
												{% set name = name ~ user.Name %}
												{% if temp == 0 %}
													{% set name = name ~ ' and ' %}
												{% endif %}
												{% set temp = temp + 1 %}
											{% endfor %}
										{% else %}
											{% for user in chat.members|filter(v => v.id != app.session.get('user').id) %}
												{% set name = name ~ user.Name %}
												{% if temp == 0 %}
													{% set name = name ~ ', ' %}
												{% endif %}
												{% if temp == 1 %}
													{% set name = name ~ ' and ' %}
												{% endif %}
												{% set temp = temp + 1 %}
											{% endfor %}
										{% endif %}
									{% endif %}
								{% else %}
									{% for user in chat.members|filter(v => v.id != app.session.get('user').id) %}
										{% set name = user.Name ~ ' ' ~ user.Surname %}
									{% endfor %}
								{% endif %}
								{{name}}
							{% else %}
								{{chat.chatName}}
							{% endif %}
						</p>
						<p class="last-message-time">
							{% if chat.messages|length > 0 %}
								{% set time = '' %}
								{% set diff = date('now').diff(chat.messages|reverse|slice(0,1).0.Date) %}
								{% if diff.s < 60 %}
									{% set time = 'Just now' %}
								{% endif %}
								{% if diff.i > 0 %}
									{% if diff.i == 1 %}
										{% set time = '1 minute ago' %}
									{% else %}
										{% set time = diff.i ~ ' minutes ago' %}
									{% endif %}
								{% endif %}
								{% if diff.h > 0 %}
									{% if diff.h == 1 %}
										{% set time = '1 hour ago' %}
									{% else %}
										{% set time = diff.h ~ ' hours ago' %}
									{% endif %}
								{% endif %}
								{% if diff.d > 0 %}
									{% if diff.d == 1 %}
										{% set time = '1 day ago' %}
									{% endif %}
									{% if diff.d < 7 %}
										{% set time = diff.d ~ ' days ago' %}
									{% endif %}
									{% if diff.d > 6%}
										{% set time = diff.d is divisible by(7) ~ ' weeks ago' %}
									{% endif %}
								{% endif %}
								{% if diff.m > 0 %}
									{% if diff.m == 1 %}
										{% set time = '1 month ago' %}
									{% else %}
										{% set time = diff.m ~ ' months ago' %}
									{% endif %}
								{% endif %}
								{% if diff.y > 0 %}
									{% if diff.y == 1 %}
										{% set time = '1 year ago' %}
									{% else %}
										{% set time = diff.y ~ ' years ago' %}
									{% endif %}
								{% endif %}
								{{time}}
							{% endif %}
						</p>
						<p class="last-message">
							{% if chat.messages|length > 0 %}
								{% if chat.messages|reverse|slice(0,1).0.Content is not null %}
									{{chat.messages|reverse|slice(0,1).0.Content}}
								{% else %}
									{{chat.messages|reverse|slice(0,1).0.sender.Name}}
									sent a file
								{% endif %}
							{% else %}
								Chat is so quiet. Tap to begin the talk...
							{% endif %}
						</p>
						{% set unread = 0 %}
						{% for message in chat.messages %}
							{% set temp = true %}
							{% set isIn = 0 %}
							{% for user in message.displayed %}
								{% if (isIn == 0) and (user.id != app.session.get('user').id) and (loop.last) %}
									{% set temp = false %}
								{% endif %}
								{% if user.id == app.session.get('user').id %}
									{% set isIn = 1 %}
								{% endif %}
							{% endfor %}
							{% if temp == false %}
								{% set unread = unread + 1 %}
							{% endif %}
						{% endfor %}
						{% if unread > 0 %}
							<p class="unread-messages">
								<span>
									{{unread}}
								</span>
							</p>
						{% endif %}
					</a>
				{% endfor %}
			</div>
		</section>
	{% endblock %}
{% endblock %}

{% block javascripts %}
	<script src="/js/index.js"></script>
{% endblock %}
