{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block stylesheets %}
	<link href="/styles/user.css" rel="stylesheet">
{% endblock %}

{% block body %}
	{{form_start(register, {'attr': {'class': 'registerForm'}})}}
	{{form_row(register.Login)}}
	{{form_row(register.Password.first)}}
	{{form_row(register.Password.second)}}
	{{form_row(register.Email)}}
	{{form_row(register.Name)}}
	{{form_row(register.Surname)}}
	{{form_widget(register.Register)}}
	<a href="{{path('login')}}">
		Login
	</a>
	{{form_end(register)}}
{% endblock %}
